<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupTripPlanner - Register</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="#" type="image/x-icon">
</head>

<body>
    <section class="register">
        <div class="container">
            <div class="title">
                <h1>GroupTrip<span>Planner</span></h1>
            </div>
            <div class="register-form">
                <form action="/register" method="post">
                    <input type="text" placeholder="Enter First Name" name="first_name" id="first_name" required> <br>
                    <input type="text" placeholder="Enter Last Name" name="last_name" id="last_name" required> <br>
                    <input type="email" placeholder="Enter Email" name="email" id="email" required> <br>
                    <input type="password" placeholder="Enter Password" name="password" id="password"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$"
                        title="Must contain at least one of each: number, uppercase and lowercase letters. Must be at least 8 characters"
                        required> <br>
                    <input type="password" placeholder="Confirm Password" name="password_confirm" id="password_confirm"
                        required> <br>
                    <span id="message" class="message no-message"></span>
                    <% if (locals.message) { %> 
                        <% if (locals.message.errors[0].message === 'email must be unique') { %> 
                            <span class="message">Account with email <%= locals.message.errors[0].value %> already exists.</span>
                        <% } else { %> 
                            <span class="message"><%= locals.message %> </span>
                        <% } %> 
                    <% } %> 
                    <button id="submitBtn" type="submit">Register</button>
                </form>
                <p class="login">
                    If you already have an account, you can <a href="/login">login here</a>.
                </p>
            </div>
        </div>
    </section>
    <script>
        const message = document.getElementById('message');
        const password1 = document.getElementById('password');
        const password2 = document.getElementById('password_confirm');
        let didFillBothPasswords = false;

        password2.onkeyup = () => {
            if (password1.value === password2.value) {
                message.classList.add('no-message');
                message.value = '';
                didFillBothPasswords = true;
            }
            else {
                message.classList.remove('no-message');
                message.innerHTML = 'Passwords must match.';
            }
        };

        password1.onkeyup = () => {
            if (didFillBothPasswords) {
                if (password1.value === password2.value) {
                    message.classList.add('no-message');
                    message.innerHTML = '';
                }
                else {
                    message.classList.remove('no-message');
                    message.innerHTML = 'Passwords must match.';
                }
            }
        };
    </script>
</body>

</html>