@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --background-color: #eee;
    --lightest: #00b8ff;
    --light: #009bd6;
    --mid: #00719c;
    --dark: #00415a;
    --darkest: #001f2b;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--background-color);
}

/* Navbar */
.navbar {
    height: 3em;
    color: white;
    background-color: var(--darkest);

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 1.4em;
            padding-left: 1em;
            margin: 0;

            span {
                color: var(--lightest);
            }
        }

        nav {
            display: none;
            position: fixed;
            z-index: 999;
            width: 40%;
            right: 0;
            top: 0;
            background-color: var(--darkest);
            height: 100vh;
            padding: 1em;

            ul {
                list-style-type: none;
                margin-top: 4em;

                li.current {
                    font-weight: bold;
                }

                a,
                form {
                    padding: .5em;
                    font-size: 1.3em;
                    text-align: right;
                    display: block;
                    text-decoration: none;
                    color: white;
                }

                button {
                    font-size: 1em;
                    border: none;
                    border-radius: 1em;
                    background-color: inherit;
                    color: white;
                    cursor: pointer;
                }

                a:hover,
                button:hover {
                    font-weight: bold;
                }

            }

            .mobile-exit-menu {
                float: right;
                margin: .5em;
                cursor: pointer;
            }
        }

        .mobile-open-menu {
            display: block;
            padding-right: 1em;
            width: 1.4em;
            height: 1.4em;
            cursor: pointer;
        }

        /* Used in JS to show/hide */
        .show-menu {
            display: block;
            transform: 5s;
        }
    }

}

/* Login and Register pages */
section.login,
section.register {
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    text-align: center;

    .container {

        .title {
            h1 {
                font-size: 2em;
                margin: 1em;

                span {
                    color: var(--lightest);
                }
            }
        }

        .login-form,
        .register-form {
            form>input {
                margin: .7em 0;
                padding: .4em .3em;
                width: 17em;
                border: 1px solid black;
                border-radius: .2em;
            }

            form>button {
                margin: .5em 0;
                padding: .3em .6em;
                border: 1px solid var(--lightest);
                border-radius: 0.3em;
                color: white;
                cursor: pointer;
                background-color: var(--lightest);
            }

            p {
                font-size: .8em;
                padding: 1em 0 2em 0;

                a {
                    color: var(--lightest);
                }
            }

            .message {
                display: inherit;
                padding: .3em .6em;
                margin: .4em 4.7em;
                width: 17em;
                border: 2px solid red;
                border-radius: .2em;
                font-size: .8em;
                font-weight: bold;
                color: white;
                background-color: rgba(194, 63, 63, 0.69);
            }

            .no-message {
                display: none;
            }
        }
    }
}

/* Destinations page */
section.destinations {
    .container {
        margin: 0;
        margin-top: .6em;
        padding: 0;

        .list-item {
            cursor: pointer;
        }

        .row {
            border: 0.15em solid black;
            border-color: var(--mid);
            border-radius: .5em;
            padding: .4em 0;
            margin: .3em .5em;
            color: var(--dark);
            background-color: var(--secondary-color);

            span {
                float: left;
                width: 35%;
                text-align: center;
            }

            .number {
                float: left;
                width: 10%;
                text-align: center;
                align-content: center;
            }

            .vote-count {
                width: 20%;
            }

            .city {
                font-weight: bold;
            }

            .country,
            .nights-stay {
                display: none;
            }

            /* Clear floats after the columns */
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }

        .content-header {
            font-weight: bold;
            border: none;
            color: white;
            background-color: var(--mid);
        }

        .create-new {
            margin: 1em 0;
            display: flex;
            justify-content: space-evenly;

            button {
                padding: .6em .8em;
                border: none;
                border-radius: .3em;
                font-weight: bold;
                color: white;
                background-color: var(--mid);
                cursor: pointer;
            }
        }

        .no-destinations {
            padding: 5em 0;
            text-align: center;
        }
    }
}

/* Single Destination page */
section.destination-view {
    padding: 2em 1.5em 1em 1.5em;

    .container {
        color: black;
        display: block;

        .details {
            color: var(--darkest);
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .location {
                text-align: center;
                align-self: center;
                padding-bottom: 1.5em;

                .city {
                    font-size: 2.2em;
                    margin-right: -.2em;
                }

                .country {
                    font-size: 1.2em;
                    color: var(--dark);
                }
            }

            .description {
                padding: 1em 0;

                p {
                    text-align: justify;
                }
            }

            .row {
                padding: 1em 0;
                display: flex;
                justify-content: space-around;
                text-align: center;
                width: 100%;
            }

        }

        .vote-row {
            display: flex;
            justify-content: space-around;
            text-align: center;
            width: 101%;

            .vote {
                width: 13em;
                margin: .4em 0;
                padding: .5em 0;
                border: none;
                border-radius: 1em;
                color: white;
                background-color: var(--mid);
                text-align: center;

                .vote-forms {
                    display: flex;
                    justify-content: space-evenly;
                }

                form {
                    margin: .5em 0;

                    input,
                    label {
                        margin: .5em 0;
                    }

                    button {
                        text-align: center;
                        margin: 0 .5em;
                        margin-top: .5em;
                        width: 5em;
                        height: 2.5em;
                        border: none;
                        border-radius: 0.5em;
                        font-weight: bold;
                        color: white;
                        background-color: var(--lightest);
                        cursor: pointer;
                    }
                }
            }
        }

        .message {
            text-align: center;
            display: block;
            padding: .3em .6em;
            margin: .4em auto;
            width: 17em;
            border: 2px solid red;
            border-radius: .2em;
            font-size: .8em;
            font-weight: bold;
            color: white;
            background-color: rgba(194, 63, 63, 0.69);
        }

        .no-message {
            display: none;
        }

        .modify {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;

            form {
                margin: .6em .5em;
                width: 50%;

                .edit {
                    width: 100%;
                }
            }

            .delete {
                margin: .6em .5em;
                width: 50%;
            }

            .delete,
            .edit {
                padding: 1.2em 0;
                border: none;
                border-radius: .5em;
                font-weight: bold;
                color: white;
                background-color: var(--dark);
                cursor: pointer;
            }
        }

    }
}

/* New & Edit Destination page */
section.destination-new,
section.destination-edit {
    .container {
        margin: 0;
        padding: 1em;

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            color: var(--darkest);

            h1 {
                margin: 1em 0;
            }

            label {
                display: block;
            }

            .description {
                padding: 1em;
                text-align: left;

                textarea {
                    width: 80vw;
                    height: 20vh;
                }
            }

            .short-data {
                padding: 1em 0;
                display: flex;
                justify-content: space-between;
                width: 80vw;

                input {
                    width: 90%;
                    height: 2em;
                    text-align: center;
                }

                div>div {
                    padding: .4em 0;
                }
            }

            .group {
                label {
                    font-weight: bold;
                    margin-bottom: .1em;
                }

                select {
                    text-align: center;
                    padding: .2em;
                    font-size: .8em;
                    background-color: white;
                    border: 1px solid black;
                    border-radius: .2em;
                }
            }

            button {
                margin: 1em;
                margin-top: 3em;
                padding: 1em 1.2em;
                border: none;
                border-radius: .3em;
                font-weight: bold;
                color: var(--darkest);
                background-color: var(--lightest);
                cursor: pointer;
            }

            .message {
                display: inherit;
                padding: .3em .6em;
                margin: .4em 4.7em;
                width: 17em;
                border: 2px solid red;
                border-radius: .2em;
                font-size: .8em;
                font-weight: bold;
                color: white;
                background-color: rgba(194, 63, 63, 0.69);
            }

            .no-message {
                display: none;
            }
        }
    }
}

/* View Account page */
section.account {
    .container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        color: var(--darkest);
        width: 70vw;

        h1 {
            margin: 1em 0;
        }

        .details {
            width: 100%;

            label {
                margin: 0;
                font-size: 1.2em;
                font-weight: bold;
            }

            span {
                margin: 0;
                font-size: 1em;
            }

            .first-name {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: .5em 0;
            }

            .last-name {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: .5em 0;
            }

            .email {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: .5em 0;
            }
        }

        .modify {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            form {
                margin: .6em .5em;
                width: 100%;

                .edit {
                    width: 100%;
                }
            }

            .delete {
                margin: .6em .5em;
                width: 100%;
            }

            .delete,
            .edit {
                padding: 1.2em .3em;
                border: none;
                border-radius: .5em;
                font-weight: bold;
                color: white;
                background-color: var(--dark);
                cursor: pointer;
            }
        }
    }
}

/* Edit Account page */
section.account-edit {
    .container {
        color: var(--darkest);
        display: block;

        h1 {
            margin: 1em 0;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            .details {
                width: 80vw;

                .first-name,
                .last-name,
                .email,
                .password {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: .6em 0;

                    input {
                        width: 15em;
                        height: 2em;
                        padding: 0 .2em;
                    }
                }

            }

            button {
                margin-top: 1.5em;
                padding: 1.2em 1em;
                border: none;
                border-radius: .5em;
                font-weight: bold;
                color: white;
                background-color: var(--dark);
                cursor: pointer;
            }

            .message {
                text-align: center;
                display: block;
                padding: .3em .6em;
                margin: .4em 4.7em;
                width: 17em;
                border: 2px solid red;
                border-radius: .2em;
                font-size: .8em;
                font-weight: bold;
                color: white;
                background-color: rgba(194, 63, 63, 0.69);
            }

            .no-message {
                display: none;
            }
        }
    }
}

/* Votes page */
section.votes {
    .container {
        margin: 0;
        margin-top: .6em;
        padding: 0;

        .list-item {
            cursor: pointer;
        }

        .row {
            border: 0.15em solid black;
            border-color: var(--mid);
            border-radius: .5em;
            padding: .4em 0;
            margin: .3em .5em;
            color: var(--dark);
            background-color: var(--secondary-color);

            span {
                float: left;
                width: 60%;
                text-align: center;
            }

            .number {
                float: left;
                width: 20%;
                text-align: center;
            }

            .going {
                width: 20%;
            }

            .destination {
                font-weight: bold;
            }

            .voted-on {
                display: none;
            }

            /* Clear floats after the columns */
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }

        .content-header {
            font-weight: bold;
            border: none;
            color: white;
            background-color: var(--mid);
        }

        .no-votes {
            padding: 5em 0;
            text-align: center;
        }
    }
}

/* Groups page */
section.groups {
    .container {
        margin: 0;
        margin-top: .6em;
        padding: 0;

        .list-item {
            cursor: pointer;
        }

        .row {
            border: 0.15em solid black;
            border-color: var(--mid);
            border-radius: .5em;
            padding: .4em 0;
            margin: .3em .5em;
            color: var(--dark);
            background-color: var(--secondary-color);

            span {
                float: left;
                width: 30%;
                text-align: center;
            }

            .number {
                float: left;
                width: 10%;
                text-align: center;
                align-content: center;
            }

            .members {
                width: 30%;
            }

            .city {
                font-weight: bold;
            }

            /* Clear floats after the columns */
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }

        .content-header {
            font-weight: bold;
            border: none;
            color: white;
            background-color: var(--mid);
        }

        .create-new {
            margin: 1em 0;
            display: flex;
            justify-content: space-evenly;

            button {
                padding: .6em .8em;
                border: none;
                border-radius: .3em;
                font-weight: bold;
                color: white;
                background-color: var(--mid);
                cursor: pointer;
            }
        }

        .no-destinations {
            padding: 5em 0;
            text-align: center;
        }
    }
}

/* Single Group page */
section.group-view {
    padding: 2em 1.5em 1em 1.5em;

    .container {
        color: var(--darkest);
        display: block;

        .details {
            color: var(--darkest);
            display: flex;
            align-items: center;
            flex-direction: column;

            h1 {
                font-size: 2.5em;
            }

            .members {
                margin: 1em;
                text-align: center;
                width: 100%;

                .member {
                    margin: .5em 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 2px dashed var(--darkest);
                    border-radius: .3em;

                    span {
                        margin-left: .5em;
                    }

                    button {
                        margin: .3em 0;
                        margin-right: .5em;
                        padding: .5em .7em;
                        border: none;
                        border-radius: .3em;
                        font-weight: bold;
                        color: white;
                        background-color: var(--mid);
                        cursor: pointer;
                    }
                }

            }

        }

        .message {
            text-align: center;
            display: block;
            padding: .3em .6em;
            margin: .4em auto;
            width: 17em;
            border: 2px solid red;
            border-radius: .2em;
            font-size: .8em;
            font-weight: bold;
            color: white;
            background-color: rgba(194, 63, 63, 0.69);
        }

        .no-message {
            display: none;
        }

    }
}

/* New Group page */
section.group-new {
    .container {
        margin: 0;
        padding: 1em;

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            color: var(--darkest);

            h1 {
                margin: 1em 0;
            }

            label {
                display: block;
            }

            .name {
                label {
                    font-size: 1.2em;
                    margin-bottom: .3em;
                }

                input {
                    text-align: center;
                    width: 100%;
                }
            }

            .members {
                h2 {
                    margin-top: 2em;
                    margin-bottom: .3em;
                }

                .members-btns {
                    width: 30px;
                    height: 30px;
                    border: none;
                    border-radius: .3em;
                    font-size: 1.5em;
                    font-weight: bold;
                    color: white;
                    background-color: var(--mid);
                    cursor: pointer;
                }

                .member {
                    margin: .5em 0;

                    input {
                        text-align: center;
                        width: 100%;
                    }
                }
            }

            button {
                margin: 1em;
                margin-top: 3em;
                padding: 1em 1.2em;
                border: none;
                border-radius: .3em;
                font-size: 1.2em;
                font-weight: bold;
                color: white;
                background-color: var(--mid);
                cursor: pointer;
            }

            .message {
                display: inherit;
                padding: .3em .6em;
                margin: .4em 4.7em;
                width: 17em;
                border: 2px solid red;
                border-radius: .2em;
                font-size: .8em;
                font-weight: bold;
                color: white;
                background-color: rgba(194, 63, 63, 0.69);
            }

            .no-message {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 600px) {

    /* Destinations page */
    section.destinations {
        .container {
            margin-top: 1em;

            .row {
                margin: .45em 1.3em;

                span {
                    width: 25%;
                }

                .number,
                .vote-count {
                    width: 12.5%;
                }

                .nights-stay {
                    display: inherit;
                }
            }
        }
    }

    /* New Destination page */
    section.destination-new,
    section.destination-edit {
        .container {
            form {
                .short-data {
                    justify-content: space-around;
                }
            }
        }
    }

    /* Edit Account page */
    section.account-edit {
        .container {

            form {
                .details {
                    width: 70vw;

                }
            }
        }
    }

    /* Single Group page */
    section.group-view {

        .container {

            .details {
                .members {
                    width: 70%;

                }

            }

        }
    }
}

@media only screen and (min-width: 750px) {

    /* Navbar */
    .navbar {

        .container {
            display: grid;
            grid-template-columns: 35vw auto;

            nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: none;
                position: unset;
                width: 100%;
                height: inherit;
                padding: 0;

                ul {
                    display: flex;
                    margin: 0;

                    a,
                    form {
                        font-size: 1em;
                        padding: .1em 1em;
                    }

                }

                .mobile-exit-menu {
                    display: none;
                }
            }

            .mobile-open-menu {
                display: none;
            }

            /* Used in JS to show/hide */
            .show-menu {
                display: block;
            }
        }

    }

    /* Single Destination page */
    section.destination-view {
        padding: 3em 3em 1em 3em;

        .container {


            .modify {
                margin-top: 2em;
                display: flex;
                flex-direction: column;
                align-items: center;

                form {
                    margin: .6em .5em;
                    width: 50%;

                    .edit {
                        width: 100%;
                    }
                }

                .delete {
                    margin: .6em .5em;
                    width: 50%;
                }

                .delete,
                .edit {
                    padding: 1.2em 0;
                    border: none;
                    border-radius: .5em;
                    font-weight: bold;
                    color: white;
                    background-color: var(--dark);
                    cursor: pointer;
                }
            }
        }
    }

    /* New & Edit Destination page */
    section.destination-new,
    section.destination-edit {
        .container {
            form {
                h1 {
                    margin-top: 1.2em;
                }
            }
        }
    }

    /* View Account page */
    section.account {
        .container {
            margin-top: 2em;
            width: 60vw;
        }
    }

    /* Edit Account page */
    section.account-edit {
        .container {

            form {
                .details {
                    width: 50vw;

                }
            }
        }
    }

    /* Votes page */
    section.votes {
        .container {

            .row {

                span {
                    float: left;
                    width: 30%;
                    text-align: center;
                }

                .number {
                    width: 20%;
                }

                .going {
                    width: 20%;
                }

                .voted-on {
                    display: unset;
                }
            }
        }
    }

}

@media only screen and (min-width: 1000px) {

    /* Login and Register pages */
    section.login,
    section.register {
        .container {
            .title {
                h1 {
                    font-size: 2.3em;
                }
            }

            .login-form,
            .register-form {

                .message {
                    margin: .4em 6.9em;
                }
            }
        }

        /* Destinations page */
        section.destinations {
            .container {
                margin-top: 1.5em;

                .row {
                    margin: .6em 3em;

                    span {
                        width: 20%;
                    }

                    .number,
                    .vote-count {
                        width: 10%;
                    }

                    .country {
                        display: inherit;
                    }
                }
            }
        }
    }

    /* Destinations page */
    section.destinations {
        .container {
            margin: 1em 2em;

            .row {
                span {
                    width: 19%;
                }

                .number,
                .vote-count {
                    width: 12%;
                }

                .country {
                    display: inherit;
                }
            }
        }
    }

    /* Single Destination page */
    section.destination-view {
        padding: 3em 3em 1em 3em;

        .container {

            .modify {
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                form {
                    margin: 0 3em
                }

                .delete {
                    margin: 0 3em;
                }

                .delete,
                .edit {
                    padding: 1.2em 0;
                }
            }
        }
    }

    /* New & Edit Destination page */
    section.destination-new,
    section.destination-edit {
        .container {
            form {
                h1 {
                    margin-top: 1.5em;
                }

                .description {

                    textarea {
                        width: 70vw;
                        height: 30vh;
                    }
                }

                .short-data {
                    width: 70vw;
                }

                button {
                    padding: 1.3em 1.6em;
                }
            }
        }
    }

    /* View Account page */
    section.account {
        .container {
            margin-top: 3em;
            width: 50vw;
        }
    }

    /* Edit Account page */
    section.account-edit {
        .container {

            form {
                .details {
                    width: 40vw;

                }
            }
        }
    }

    /* Single Group page */
    section.group-view {

        .container {

            .details {
                .members {
                    width: 50%;

                }

            }

        }
    }
}